@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Galindo&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
:root {
  font-size: 16px;
  --background-dark: #011211;
  --background-light: #fbfffe;
  --primary-accent: #6b0504;
  --secondary-accent: #be380c;
  --highlight: #e6af2e;
}
